<div class="welcome-bg">

  <section class="wrapper welcome">

    <div class="left">

      <p class="brand-name">AppCo</p>
      <p class="welcome__title">
        <span>Brainstorming</span> for
        <br>
        desired perfect Usability
      </p>

      <p class="welcome__text">
        Our design projects are fresh and simple and will benefit
        <br>
        your business greatly. Learn more about our work!
      </p>

      <button
        class="action"
        routerLink="/users"
      >
        Views Stats
      </button>

    </div>


    <div class="right">

      <img class="welcome-video" src="../../../assets/images/mobile.png" />

    </div>
  </section>

</div>

<section class="wrapper benefits">

  <p class="benefits__title">
    Why <span>small business owners</span>
    <br>
    <span>love</span> AppCo?
  </p>

  <p class="benefits__text">
    Our design projects are fresh and simple and will benefit your business
    <br>
    greatly. Learn more about our work!
  </p>

  <div class="benefits__cards-list">

    <div class="benefits__cards--col">
      <div class="benefits__card">
        <img src="assets/images/card1.png"/>
        <p class="benefits__card--title">Clean Design</p>
        <p class="benefits__card--text">
          Increase sales by showing true
          dynamics of your website.
        </p>
      </div>
    </div>
    <div class="benefits__cards--col">
      <div class="benefits__card">
        <img src="assets/images/card1.png"/>
        <p class="benefits__card--title">Clean Design</p>
        <p class="benefits__card--text">
          Increase sales by showing true
          dynamics of your website.
        </p>
      </div>
    </div>
    <div class="benefits__cards--col">
      <div class="benefits__card">
        <img src="assets/images/card1.png"/>
        <p class="benefits__card--title">Clean Design</p>
        <p class="benefits__card--text">
          Increase sales by showing true
          dynamics of your website.
        </p>
      </div>
    </div>

  </div>

</section>

<footer class="footer-bg">

  <div class="wrapper footer-section">

    <form class="email">
      <label>
        <input placeholder="Enter your email" type="email">
      </label>
      <button>
        Subscribe
      </button>
    </form>

    <div class="footer">
      <p class="footer-brand-name">AppCo</p>
      <p>All rights reserved by ThemeTags</p>
      <p>Copyrights © 2019.</p>
    </div>

  </div>


</footer>
