@import "./src/assets/styles/colors";

.breadcrumb {
  width: 100%;

  margin-bottom: 10px;

  font-size: 16px;
  font-weight: normal;

  @media all and (max-width: 500px) {
    font-size: 14px;
  }

  @media all and (max-width: 400px) {
    font-size: 12px;
  }

  @media all and (max-width: 350px) {
    font-size: 10px;
  }

  .breadcrumb__path {
    color: #CCCCCC;
    cursor: pointer;
  }

  .breadcrumb__current-path {
    color: $primary;
  }
}

