<app-layout>

  <app-breadcrumb [data]="breadcrumbData"></app-breadcrumb>
  <h1>Users statistics</h1>

  <div
    *ngIf="users.length === 0"
    class="loader-wrapper"
  >
    <app-loader></app-loader>
  </div>

  <div class="data-table">
    <table *ngIf="users.length > 0">
      <thead>
      <tr>
        <td>id</td>
        <td>First name</td>
        <td>Last name</td>
        <td>Email</td>
        <td>Gender</td>
        <td>IP address</td>
        <td>Total clicks</td>
        <td>Total page views</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users" routerLink="/user/{{user.id}}">
        <td>{{user.id}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.ip_address}}</td>
        <td>{{user.total_clicks}}</td>
        <td>{{user.total_page_views}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    *ngIf="users.length > 0"
    [page]="pagination.page"
    [totalPages]="pagination.totalPages"
    (changePage)="changePage($event)"
  ></app-pagination>
</app-layout>
