<header class="header">
  <div class="wrapper">
    <p
      class="header__brand-name"
      routerLink="/"
    >
      AppCo
    </p>
  </div>
</header>

<main class="content">
  <div class="wrapper">
    <ng-content></ng-content>
  </div>
</main>

<footer class="footer">
  <div class="wrapper">
    <p
      class="footer__brand-name"
      routerLink="/"
    >
      AppCo
    </p>
    <p>
      All rights reserved by ThemeTags
    </p>
    <p>
      Copyrights © 2019.
    </p>
  </div>
</footer>

