@import "./src/assets/styles/colors";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 72px;
  background-color: $primary;

  .header__brand-name{
    display: inline;
    cursor: pointer;
    line-height: 72px;
    font-size: 40px;
    color: white;
  }
}

.content {
  flex-grow: 1;
  padding: 16px 0;
}

.footer {
  height: 57px;
  background-color: $footer;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    color: white;

    @media all and (max-width: 576px) {
      font-size: 8px;
    }

    & .footer__brand-name {
      cursor: pointer;
      font-size: 24px;
    }
  }
}
