<section class="wrapper benefits">

  <p class="benefits__title">
    Why <span>small business owners</span>
    <br>
    <span>love</span> AppCo?
  </p>

  <p class="benefits__text">
    Our design projects are fresh and simple and will benefit your business
    <br>
    greatly. Learn more about our work!
  </p>

  <div class="benefits__list">

    <div class="benefits__list-column">
      <div class="benefits__card">
        <img src="../../../../assets/images/landing/card1.png"/>
        <p class="benefits__card-title">Clean Design</p>
        <p class="benefits__card-text">
          Increase sales by showing true
          dynamics of your website.
        </p>
      </div>
    </div>

    <div class="benefits__list-column">
      <div class="benefits__card">
        <img src="../../../../assets/images/landing/card2.png"/>
        <p class="benefits__card-title">Secure Data</p>
        <p class="benefits__card-text">
          Build your online store’s trust using
          Social Proof & Urgency.
        </p>
      </div>
    </div>

    <div class="benefits__list-column">
      <div class="benefits__card">
        <img src="../../../../assets/images/landing/card3.png"/>
        <p class="benefits__card-title">Retina Ready</p>
        <p class="benefits__card-text">
          Realize importance of social proof in
          customer’s purchase decision.
        </p>
      </div>
    </div>

  </div>

</section>
