<div class="welcome-bg">

  <section class="wrapper welcome">

    <div class="welcome__left">

      <p class="welcome__brand-name" routerLink="/">AppCo</p>

      <p class="welcome__title">
        <span>Brainstorming</span> for
        <br>
        desired perfect Usability
      </p>

      <p class="welcome__text">
        Our design projects are fresh and simple and will benefit
        <br>
        your business greatly. Learn more about our work!
      </p>

      <button
        class="welcome__action"
        routerLink="/users"
      >
        Views Stats
      </button>

    </div>

    <div class="welcome__right">

      <img class="welcome__video" src="./assets/images/landing/mobile.png"/>

    </div>
  </section>

</div>
